body {
	margin: 0;
}

canvas {
	display: block;
	/* padding: 12px; */
	margin: 0 auto;
	height: 100vh;
	width: 100vw;
}
.replay-button {
	font-size: 60px;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	background-color: #4caf50; /* Green */
	color: white;
	cursor: pointer;
	position: fixed;
	/* middle of screen */
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	transition: background-color 0.3s;
}

.replay-button:hover {
	background-color: #45a049;
}
